<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Login - ControlRepro</title>
  <link rel="stylesheet" href="../../style.css" />
  <script type="module" src="../scripts/LoginView.js" defer></script>
</head>
<body class="login-body">

  <div class="login-container">
    <div class="logo-container-circle">
      <img src="../../assets/Icon.png" alt="Logo ControlRepro" class="logo-login" style="margin-bottom: 0;" />
    </div>
    <h2>Inicio de Sesión</h2>
    <form id="loginForm">
      <div class="form-group">
        <input type="text" id="rut" placeholder="RUT (ej: 12.345.678-9)" maxlength="12" required />
      </div>
      <div class="form-group">
        <input type="password" id="pin" placeholder="Contraseña" required />
      </div>
      <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
    <p id="mensajeError" class="error"></p>
  </div>

</body>
</html>
